@import url('https://fonts.googleapis.com/css?family=Pacifico');

.center-text {
    text-align: center;
}

h1 {
    margin: 1rem auto 1rem auto;
    font-family: 'Pacifico', cursive;
}

.navbar-light .navbar-nav .nav-link, .navbar-light .navbar-nav .nav-link {
    background-color: #FF338B;
    border-bottom: solid white 2px;
}

.navbar-light .navbar-nav .nav-link:focus, .navbar-light .navbar-nav .nav-link:hover {
    background-color: lightpink;
    border-bottom: solid #FF338B 2px;
    -webkit-transition: all 300ms ease-in-out;
    -moz-transition: all 300ms ease-in-out;
    -o-transition: all 300ms ease-in-out;
    transition: all 300ms ease-in-out;
}

.navbar-light .navbar-nav .facebook .nav-link:focus, .navbar-light .navbar-nav .facebook .nav-link:hover {
    border-bottom: solid darkblue 2px;
    color: darkblue;
}

.navbar-light .navbar-nav .twitter .nav-link:focus, .navbar-light .navbar-nav .twitter .nav-link:hover {
    border-bottom: solid #6262e6 2px;
    color: #6262e6;
}

.navbar-light .navbar-nav .google-plus .nav-link:focus, .navbar-light .navbar-nav .google-plus .nav-link:hover {
    border-bottom: solid red 2px;
    color: red;
}

.navbar-light .navbar-nav .active .nav-link:focus, .navbar-light .navbar-nav .active .nav-link:hover {
    background-color: #565656;
}

.navbar-light .navbar-nav .active .nav-link {
    background-color: #000;
}

.navbar-light .navbar-nav .active > .nav-link,
.navbar-light .navbar-nav .nav-link.active,
.navbar-light .navbar-nav .nav-link.open,
.navbar-light .navbar-nav .open > .nav-link {
    color: white;
}

@media (min-width: 768px) {
    .navbar-nav {
        margin: 0 auto;
        display: table;
        table-layout: auto;
        float: none;
        width: 100%;
    }

    .navbar-nav > li {
        display: table-cell;
        float: none;
        text-align: center;
    }

    #features {
        padding-top: 1rem;
    }
}

@media (max-width: 768px) {
    #features {
        padding-top: 3rem;
    }

    nav {
        min-width: 1rem;
    }
}

#features {
    text-align: center;
}

#features .col-md-2 {
    text-align: center;
    border: solid white 2px;
}

#features .col-md-2:focus, #features .col-md-2:hover {
    background-color: deeppink;
    color: white;
    border: solid purple 2px;
    -webkit-transition: all 300ms ease-in-out;
    -moz-transition: all 300ms ease-in-out;
    -o-transition: all 300ms ease-in-out;
    transition: all 300ms ease-in-out;
}

.product-img {
    display: block;
    margin: auto;
    filter: grayscale(0%);
    -webkit-filter: grayscale(0%);
    -webkit-transition: all .6s ease;
    margin-bottom: 1rem;
}

.product-img:hover {
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
}